@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+ Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* fonts */
  /* Headings, Call-to-actions, Header Navigation */
  --raleway: 'Raleway', sans-serif;
  /*  Body */
  --openSans: 'Open Sans', sans-serif;

  /* Colors */
  /* Primary */
  --veryDarkBlue: hsl(243, 87%, 12%);
  --desaturatedBlue: hsl(238, 22%, 44%);
  /* Accent */
  --brightBlue: hsl(224, 93%, 58%);
  --moderateCyan: hsl(170, 45%, 43%);
  /* Neutral */
  --lightGrayishBlue: hsl(240, 75%, 98%);
  --lightGray: hsl(0, 0%, 75%);
}

body {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 80px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
}

nav .logo {
  width: 150px;
}
.logo img {
  max-width: 100%;
}
nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  font-family: var(--raleway);
}

section.land-page1 {
  display: flex;
  flex-direction: row;
  padding: 0 60px;
  background-image: url('../images/illustration-1.svg');
  /* width: 100%; */
  background-position: right;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  height: 450px;
  margin-bottom: 150px;
}

section.land-page1 .left-col {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 650px;
}

.land-page1 .left-col h1 {
  font-size: 42px;
  width: 650px;
  margin-bottom: 20px;
  font-family: var(--raleway);
}

.land-page1 .left-col p {
  font-size: 16px;
  max-width: 500px;
  margin-bottom: 20px;
  font-family: var(--openSans);
}
.left-col form {
  display: flex;
  height: 40px;
  max-width: 520px;
  justify-content: space-between;
}

form input {
  width: 300px;
  padding: 0 20px;
  font-family: var(--openSans);
  border: 1.5px solid var(--lightGray);
  border-radius: 3px;
}
form input:focus {
  outline: none;
}

form button {
  width: 200px;
  border: none;
  background-color: var(--brightBlue);
  color: var(--lightGrayishBlue);
  font-family: var(--openSans);
  border-radius: 3px;
  box-shadow: 2px 2px 5px var(--lightGray);
  cursor: pointer;
}

.curve {
  background: url('../images/bg-curve-desktop.svg');
  width: 100%;
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.land-page2 {
  display: flex;
  align-items: center;
  padding: 0 60px;
  background-image: url('../images/illustration-2.svg');
  /* width: 100%; */
  background-position: right;
  background-size: 600px;
  background-origin: content-box;
  background-repeat: no-repeat;
  height: 700px;
  background-color: var(--lightGrayishBlue);
}

.land-page2 .left-col {
  width: 680px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.land-page2 .left-col h1 {
  font-size: 40px;
  font-family: var(--raleway);
  margin-bottom: 20px;
}

.land-page2 .left-col p {
  font-family: var(--openSans);
  max-width: 520px;
  margin-bottom: 10px;
  font-size: 16px;
}
.land-page2 .left-col h6 {
  color: var(--moderateCyan);
  padding-bottom: 0px;
  border-bottom: 1px solid var(--moderateCyan);
  font-size: 12px;
  font-family: var(--openSans);
  display: flex;
  width: fit-content;
  align-items: center;
  height: 22px;
  margin-bottom: 30px;
}

.land-page2 .left-col .quote-cont {
  background-color: #fff;
  width: 350px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
}
.quote-cont p {
  font-size: 15px;
  font-family: var(--raleway);
}
.quote-cont .profile {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}

.profile .dp-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dp-img img {
  border-radius: 50%;
  max-width: 100%;
}

.name-pos h3 {
  font-size: 14px;
  font-family: var(--raleway);
  font-family: 700;
}

.name-pos span {
  font-size: 10px;
  font-family: var(--openSans);
}

footer {
  height: 800px;
  display: flex;
  flex-direction: column;
}

footer .newletter {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--desaturatedBlue);
  padding: 0 200px 0 60px;
  color: #fff;
}

.newletter .left-col {
  width: 480px;
}

.newletter .left-col h1 {
  font-size: 27px;
  font-family: var(--raleway);
  margin-bottom: 20px;
}

.newletter .left-col p {
  font-size: 16px;
  font-family: var(--raleway);
  font-family: 400;
}

.newletter form {
  display: flex;
  flex-direction: column;
}

.newletter form input {
  height: 40px;
  width: 400px;
  padding: 0 20px;
  font-family: var(--openSans);
  border: 1.5px solid var(--lightGray);
  border-radius: 3px;
  margin-bottom: 20px;
}

.newletter form button {
  width: 200px;
  border: none;
  background-color: var(--brightBlue);
  color: var(--lightGrayishBlue);
  font-family: var(--openSans);
  border-radius: 3px;
  box-shadow: 2px 2px 5px var(--desaturatedBlue);
  cursor: pointer;
  height: 40px;
}

footer .contacts {
  display: flex;
  background-color: var(--veryDarkBlue);
  height: 500px;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  color: #fff;
  padding: 0 300px 0 60px;
  position: relative;
}
.contacts .ft-logo {
  width: 150px;
  position: absolute;
  top: 50px;
}
.contacts .col1 {
  display: flex;
  flex-direction: column;
  list-style: none;
}
